<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-8">
            <h2 class="text-center mb-4">Registro de usuario</h2>

            <form [formGroup]="formCrearUsuario" (ngSubmit)="crearUsuario()">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <mat-form-field appearance="fill" class="w-100">
                                <mat-label>Nombres</mat-label>
                                <input matInput formControlName="nombres" placeholder="Nombres" (blur)="actualizarErrorMessage()">
                                <mat-error *ngIf="nombres.invalid">{{errorNombre}}</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <mat-form-field appearance="fill" class="w-100">
                                <mat-label>Apellidos</mat-label>
                                <input matInput formControlName="apellidos" placeholder="Apellidos" (blur)="actualizarErrorMessage()">
                                <mat-error *ngIf="apellidos.invalid">{{errorApellido}}</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <mat-form-field appearance="fill" class="w-100">
                                <mat-label>Teléfono</mat-label>
                                <input matInput type="text" formControlName="telefono" placeholder="Teléfono" (blur)="actualizarErrorMessage()" maxlength="12" (keydown)="filtrarNumeros($event)">
                                <mat-error *ngIf="telefono.invalid">{{errorTelefono}}</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <mat-form-field appearance="fill" class="w-100" *ngIf="idRol !== null">
                                <mat-label>Rol</mat-label>
                                <mat-select formControlName="rol">
                                    <mat-option *ngFor="let objeto of roles" [value]="objeto.idRol">{{objeto.nombreRol}}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="rol.invalid">{{errorRol}}</mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="fill" class="w-100" *ngIf="idRol === null">
                                <mat-label>Correo electrónico</mat-label>
                                <input matInput type="email" formControlName="email" placeholder="Correo electrónico" (blur)="actualizarErrorMessage()">
                                <mat-error *ngIf="email.invalid">{{errorEmail}}</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center" *ngIf="idRol !== null">
                    <div class="col-md-6 text-center">
                        <div class="form-group">
                            <mat-form-field appearance="fill" class="w-100">
                                <mat-label>Correo electrónico</mat-label>
                                <input matInput type="email" formControlName="email" placeholder="Correo electrónico" (blur)="actualizarErrorMessage()">
                                <mat-error *ngIf="email.invalid">{{errorEmail}}</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <mat-form-field appearance="fill" class="w-100">
                                <mat-label>Contraseña</mat-label>
                                <input matInput type="password" formControlName="contraseina" placeholder="Contraseña" (blur)="actualizarErrorMessage()">
                                <mat-error *ngIf="contraseina.invalid || contraseinDesiguales">{{errorPassword}}</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <mat-form-field appearance="fill" class="w-100">
                                <mat-label>Repetir Contraseña</mat-label>
                                <input matInput type="password" formControlName="repetirContraseina" placeholder="Repetir Contraseña" (blur)="actualizarErrorMessage()">
                                <mat-error *ngIf="repetirContraseina.invalid || contraseinDesiguales">{{repeatErrorPassword}}</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center mt-4">
                    <div class="col-md-2 text-center">
                        <button mat-raised-button type="submit" class="btn btn-primary" [disabled]="formCrearUsuario.invalid">Registrarse</button>
                    </div>
                    <div class="col-md-2 text-center">
                        <button mat-raised-button type="button" class="btn btn-secondary" (click)="volver()">Volver</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
