<div class="card text-center " style="width: 18rem;">
    <img [src]="urlImagen" class="card-img-top img-fluid" alt="" *ngIf="urlImagen !== null" >
    <div class="card-body" >
      <h2 class="card-title">{{titulo}}</h2>
      <p  class="card-text" *ngIf="precio"><b>Precio:</b> {{precio}}</p>
      <p class="card-text" *ngIf="estado"><b>Estado:</b> {{estado}}</p>
      <p class="card-text" *ngIf="fechaInicio"><b>Fecha Inicio:</b> {{fechaInicio}}</p>
      <p class="card-text" *ngIf="fechaVencimiento"><b>Fecha Vencimiento:</b> {{fechaVencimiento}}</p>
      <p class="card-text" *ngIf="cantidadProductos"><b>Cantidad Comprado:</b> {{cantidadProductos}}</p>
      <p class="card-text" *ngIf="valorTotal"><b>Valor Total:</b> {{valorTotal}}</p>
        <div class="card-body d-flex justify-content-between" *ngIf="duoBotones">
          <button mat-flat-button color="primary" (click)="emitirCodigoProduct(titulo!.toString())">{{textoBoton}}</button>
          <button mat-flat-button color="warn" (click)="emitirCodigoProductRechazar(titulo!.toString())">{{textoBotonDos}}</button>
        </div>
        <button mat-flat-button color="primary"  *ngIf="!duoBotones" (click)="emitirCodigoProduct(codigoProducto!.toString())">{{textoBoton}}</button>
    </div>
</div>